{% extends 'base.html' %}
{% block title %}Learn{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class=" jumbotron card text-center">
        <h5><a class='nav-link' href="#" style="color:green">Python</a></h5>
        </div></div>
      <div class="col-lg-4 col-md-4 col-6">
        <div class="jumbotron card text-center">
          <h5><a class="nav-link" href="#" style="color:green">Networking</a></h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card jumbotron text-center">
          <h5><a class="nav-link" href="#" style="color:green">Administrator</a></h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="jumbotron card text-center">
          <h5><a class="nav-link" href="#" style="color:green">HTML5</a></h5>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="jumbotron card text-center">
          <h5><a class="nav-link" href="#" style="color:green">Java Script</a></h5>
        </div>
      </div>
      <div class="colo-lg-4 col-md-4 col-sm-6">
        <div class="jumbotron card text-center">
          <h5><a class="nav-link" href="#" style="color:green">CSS</a?</h5>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
